.formWrapper {
  margin-top: 1rem;
}

.checkSpace {
  width: 10px;
}

.full-width {
  width: 100%;
}

.flexbox {
  display: flex;
}

.flex {
  flex: 1;
}

img {
  height: 190.47;
  width: 286;
}

/* .col {
  background-color: pink;
  border: 1px dashed orange;
} */
