
<div class="row top">
  <div class="col">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">

      <ngb-panel title="Saved" id="ngb-panel-0">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="m-0">Saved Listings</h5>
            <button ngbPanelToggle class="btn btn-link p-0">


              <fa-icon [icon]="faAngleDown"></fa-icon>


            </button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent  let-opened="opened">
          <span *ngIf="savedListings.length < 1">No listings saved yet...</span>
          <div class="col" *ngFor="let listing of savedListings; let i = index">
            <div class="card mx-auto" >
              <img 
                src="https://images.unsplash.com/photo-1499831215195-0970a54b3a0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="card-img-top" 
                alt="..."
              >
              <div class="card-body">
                <h5 class="card-title  text-center">{{listing.name}} : ${{listing.price}}</h5>
                <p class="card-text">{{listing.description}}</p>
                <div class="card-btns">
                  <button class="btn btn-info btn-sm mx-1"><a href="#"></a>More</button>
                  <button class="btn btn-danger btn-sm mx-1" (click)="onSaveListing(listing)"><a></a>Remove</button>
                  <button class="btn btn-success btn-sm mx-1"><a></a>${{listing.price}}</button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      <!-- <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>&#9733; <b>Fancy</b> title &#9733;</span>
        </ng-template>
        <ng-template ngbPanelContent>
        </ng-template>
      </ngb-panel> -->
    </ngb-accordion>
</div>



