.listing-wrapper {
  display:flex; 
  flex-wrap: wrap;
}

.card {
  margin-bottom: 2rem;
  width: 275px;
}

.card-btns {
  margin-left: 1.5rem;
}

.card button {
  font-weight: 600;
}

faIcon { size: 3rem; }

.top {
  margin-top: 40px;
}